body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,81,153,1) 36%, rgba(0,212,255,1) 80%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#main-container{
    width: 500px;
    margin: 50px auto;
   
    display: flex;
    flex-direction: column;
}
#main-container .titulo{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    color: #fff3fb;
}
h1{
    font-size: 45px;
    padding: 10px;
}
i{
    font-size: 70px;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(17, 132, 132);
}
#mostrar-todo-container{
    background-color: #d5d6d2;
    padding: 10px;
    width: 480px;
    margin: 0 auto;
}

#nuevo-pendiente-container{
    background-color: rgb(238, 238, 238);
    padding: 15px;
    display: flex;
}

#nuevo-pendiente-container input[type=text]{
    padding: 10px;
    margin: 5px 20px;
    width: 300px;
}

input[type=submit]{
    width: 100px;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    background-color: dodgerblue;
    color: white;
}

.pendiente{
    padding: 10px;
    border-bottom: solid 2px rgb(238, 238, 238);
}

.pendiente .texto{
    display: inline-block;
    width: 300px;
    color: #fff3fb;
    padding-left: 15px;
}

.pendiente .form_actualizar{
    display: inline-block;
    vertical-align: middle;
}
.pendiente .form_eliminar{
    display: inline-block;
    vertical-align: middle;
}
.pendiente .form_eliminar .delete{
    background-color: brown;
}

input[type=checkbox]
{
    display: inline-block;
}

.deshabilitado{
    color: #eeece8;
}
